body {
  background-color: #292929;
  color: #ededed;
}

.whitespace {
  width: 100%;
  height: 70px;
}

.navbar-img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-margin {
  margin-right: 30px;
}

.nav-item {
  margin-right: 20px;
}

.account-icon {
  width: 30px;
  height: 30px;
}

.home-title {
  font-family: 'Poiret One', cursive;
  font-size: 100px;
  text-align: center;
  margin-top: 75px;
}

.about-par {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.home-about-par {
  text-align: center;
  font-size: 20px;
  width: 500px;
}

.image-div {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.wire-img {
  width: 400px;
}

.content-box {
  width: 100%
  height: 300px;
  background-color: #525252;
  margin-bottom: 35px;
  padding-bottom: 7.5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.content-header {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 40px;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-image: linear-gradient(to right, #428af5, #8342d4);
}

.content-link-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  transition: 0.3s;
  font-size: 25px;
  padding-left: 20px;
  color: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

.content-link-button:hover {
  background-color: #8342d4;
  color: white;
  font-style: normal;
  text-decoration: none;
}

.center-box {
  align-content: center !important;
}

.dropdown-button {
  margin: auto;
  width: auto;
}

.dropbtn {
  display: flex;
  align-self: center;
  background-color: #428af5;
  color: white;
  padding-left: 15px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border: none;
  cursor: pointer;
  align-self: center;
  width: 400px;
}

.dropdown-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 700ms ease;
  -moz-transition: max-height 700ms ease;
  -o-transition: max-height 700ms ease;
  transition: max-height 700ms ease;
  position: absolute;
  background-color: #525252;
  min-width: 400px;
  max-height: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-button:hover .dropdown-content {
  display: block;
  max-height: 1000px;
}
